/* commons */

/* prima risoluzione 360px */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.container {
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
}

/* side column */

aside{
    background-color: black;
    width: 55px;
    height: 100%;
    position: relative;
    overflow-y: hidden;
}

.side-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-nav > img:first-child {
    width: 30px;
    margin-top: 5px;
    filter: invert(100%);
}

.side-nav > img:last-of-type {
    display: none;
}

/* list of side bar */

.side-nav > ul {
    margin: 15px 0;
}

aside li {
    list-style: none;
    line-height: 35px;
}

.side-nav li > a {
    font-size: 25px;
    text-decoration: none;
    color: lightgrey;
}

.side-nav li span {
    display: none;
}

/* playlist column middle of side bar */

.playlist {
    display: none;
}

/* bottom of aside */

.bottom-aside {
    position: absolute;
    bottom: 0;
    margin-left: 15px;
    padding-bottom: 10px;
    width: calc(100% - 15px);
    display: none;
    background-color: black;
}

.bottom-aside a {
    text-decoration: none;
    color: gray;
}

.bottom-aside i {
    margin-right: 10px;
}

.bottom-aside > div:last-child > a {
    color: white;
    font-weight: bold;
}

.bottom-aside hr {
    margin: 13px 0;
    width: 85%;
    text-align: left;
}

.bottom-aside > div:first-of-type i {
    border: 1px solid gray;
    font-size: 15px;
    padding: 2px;
    border-radius: 1em;
}

.bottom-aside > div:last-child i {
    font-size: 25px;
    background-color: gray;
    border-radius: 1em;
}

/* content section */

.content {
    width: calc(100% - 55px);
    height: 100%;
    overflow-y: auto;
    background-color: black;
}

/* header of content */

header {
    background-color: rgba(0, 0, 0, 0.6);
    height: 90px;
    position: fixed;
    width: calc(100% - 55px);
    display: flex;
    justify-content: end;
    align-items: center;
}

header a {
    text-decoration: none;
    border-radius: 2em;
    font-size: 13px;
    color: white;
    border: 1px solid white;
    padding: 13px 40px;
}

header > div {
}

/* navigation bar on content  */

nav {
    height: 10%;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0 5px;
}

nav > ul > li {
    text-transform: uppercase;
    line-height: 40px;
}

nav li > a {
    text-decoration: none;
    color: grey;
    font-weight: 500;
    margin: 0 10px;
    font-size: 15px;
}

nav li > a:hover {
    text-decoration: underline;
    text-decoration-color: white; 
}


/* content main*/

main{
    background-color: rgb(11, 11, 28);
    margin-top: 90px;
}

.row {
    color: white;
    margin: 25px 0 0 20px ;
}

.row > p {
    color: gray;
    font-size: 15px;
    margin: 10px 0;
}

.cont-line {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.cont-line > div {
 margin-right: 3%;
 text-align: center;
 width: calc((100% / 2) - 3%);
}

.cont-line > div > img {
    width: 100%;
}

.cont-line > div > h3 {
    margin: 10px;
}

.cont-line > div > h5 {
    color: gray;
    margin-bottom: 10px;
}

#popular img {
    border-radius: 50%;
}


/* player console */

footer {
    background-color: rgb(44, 42, 42);
    height: 90px;
    display: flex;
    color: white;
    justify-content: space-between;
    z-index: 999;
}

footer > div {
    display: flex;
    align-items: center;
}

/* left side player */

.playing,
.option {
    width: 25%;
}

.playing > div {
    display: flex;
    align-items: center;
}

.playing > div:last-child {
    flex-wrap: wrap;
    margin-left: 20px;
}

.playing > div > img {
    width: 40px;
    margin: 10px;
}

.playing h5 {
    font-size: 13px;
}

.playing p {
    color: gray;
    font-size: 12px;
}

.playing > div:last-child > a {
    margin: 0 5px;
    color: gray;
}

/* center of player console */

.console {
    width: 38%;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 6%;
}

.console > div {
    display: flex;
    width: 100%;
    height: 50%;
}

.bts ul,
.option > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    align-items: center;
}

.bts {
    justify-content: center;
}

.bts ul {
    width: 180px;
}

footer a{
    color: white;
}

.bts > ul > li:nth-child(3) a{
    border: 2px solid white;
    border-radius: 50%;
    padding: 4px;
}

/* bottom side of control */

.console > div:last-child {
    justify-content: space-between;
    font-size: 10px;
    align-items: center;
}

.timer > div:first-child,
.timer > div:last-child {
    width: 20%;
    text-align: center;
}

.time-bar {
    width: 60%;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.6);
    height: 5px;
}

.time-bar > div {
    background-color: honeydew;
    width: 30%;
    height: 100%;
    border-radius: 15px;
}

/* right side player */

.option {
    justify-content: space-between;
    max-width: 250px;
}

.option > ul{
    width: 40%;
    font-size: 15px;
}  

.option > ul > li:nth-child(2) {
    margin: 0 5px;
}

.option > div:last-child {
    width: 52%;
    margin-right: 5px;
}

.option .time-bar {
    width: 100%;
}


@media screen and (min-width: 540px) {

    /* side bar  */
   aside {
        min-width: 200px;
        color: gray;
    }
    
    content,
    header {
        width: calc(100% - 200px);
    }

    /* upper side of side bar */
    .side-nav > img:first-child {
        display: none;
    }

    .side-nav > img:last-of-type {
        display: inline-block;
        width: 130px;
        margin-top: 20px;
    }

    .side-nav,
    .playlist {
        align-items: flex-start;
        margin-left: 20px;
    }
    
    .side-nav li span {
        display: inline;
        font-size: 15px;
        margin-left: 8px;
        vertical-align: middle;
        color: gray;
    }

    /* middle of side bar */
    .playlist { 
        display: inline-block;
    }

    .playlist h4 {
        color: white;
    }

    .playlist > div:first-of-type {
        margin: 18px 0;
    }

    .playlist > div:first-of-type > a {
        background-color: grey;
        color: black;
        padding: 8px 12px;
        font-size: 22px;
        margin-right: 8px;
    }

    .playlist > div:last-of-type {
        max-height: 250px;
        overflow-y: auto;
    }

    .bottom-aside{
        display: block;
    }

    .cont-line > div {
        margin-right: 3%;
        text-align: center;
        width: 20%;
        max-width: 200px;
       }
}


@media screen and (max-height: 300px) {
    .bottom-aside {display: none;}
}

